@media (max-width: 1024px) {
  /* Header===================================== */

  header {
    background-color: rgba(0, 0, 0, 1);
  }

  header .header-logo {
    fill: rgba(255, 255, 255, 1);
    width: 7.2vw;
    height: 8.5vw;
  }

  header .container {
    position: static;
    padding: 2vw 2vw;
  }

  .header-menu-btn {
    gap: 2.6vw;
  }

  .header-menu-btn span {
    color: rgba(255, 255, 255, 1);
    font-size: 6.9vw;
    line-height: 6.3vw;
  }

  .menu-icon-dots span {
    width: 1.77vw;
    height: 1.77vw;
  }

  .menu-icon-dots {
    position: relative;
    width: 6vw;
    height: 6vw;
  }

  /* HERO SECTION ====================================== */

  .hero-section {
    background-image: url(../img/hero/hero-bg-mob.jpg);
    background-size: 100%;
    background-position: 0 -40vw;
    padding: 13.3vw 0 15vw 0;
  }

  .hero-section .join-link {
    margin-bottom: 34vw;
  }

  .just-a-month-block {
    margin-bottom: 13.6vw;
  }

  .just-a-month-block p {
    font-size: 2.4vw;
    line-height: 2.6vw;
    width: 35vw;
  }

  .just-a-month-block svg {
    width: 12vw;
  }

  .hero-title-block p {
    font-size: 16.5vw;
    line-height: 16.5vw;
    margin-bottom: 0;
    width: 35vw;
  }

  .hero-title-block h1 {
    font-size: 16.5vw;
    line-height: 16.5vw;
    margin-bottom: 13.6vw;
  }

  .join-link {
    gap: 0.73vw;
  }

  .join-link-text {
    font-size: 3.7vw;
    padding: 0px 6.6vw;
    border-width: 0.05vw;
  }

  .join-link-arrow {
    width: 17.6vw;
    height: 17.6vw;
  }

  .arrow-icon {
    fill: rgb(0, 0, 0);
    width: 3.2vw;
    height: 3.2vw;
  }

  .join-link-text::before,
  .join-link-text::after,
  .join-link-text .corner-top-right,
  .join-link-text .corner-bottom-left {
    border: 0.06vw solid black;
    width: 2.5vw;
    height: 2.5vw;
  }

  .join-link-text::before {
    top: -1px;
    left: -1px;
    border-right: none;
    border-bottom: none;
  }

  .join-link-text::after {
    bottom: -1px;
    right: -1px;
    border-left: none;
    border-top: none;
  }

  .join-link-text .corner-top-right {
    top: -1px;
    right: -1px;
    border-left: none;
    border-bottom: none;
  }

  .join-link-text .corner-bottom-left {
    bottom: -1px;
    left: -1px;
    border-right: none;
    border-top: none;
  }

  .who-is-title {
    display: none;
  }

  .who-is-block {
    display: block;
  }

  .who-is-list {
    display: block;
  }

  .who-is-list .who-is-item:not(:last-child) {
    margin-bottom: 3.2vw;
  }

  .who-is-main-block .who-is-item {
    position: relative;
    height: 100%;
    background-color: rgba(0, 208, 210, 1);
    margin-bottom: 3.2vw;
  }

  .who-is-main-block svg {
    position: absolute;
    top: 7.2vw;
    right: 7.2vw;
    margin-top: 0;
  }

  .who-is-item {
    padding: 7.7vw;
    border-radius: 5.8vw;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    height: 72.5vw !important;
  }

  .who-is-item p,
  .who-is-item span,
  .who-is-item .first,
  .who-is-item h4 {
    color: rgba(0, 0, 0, 1);
  }

  .who-is-item .second {
    color: rgba(0, 0, 0, 0.33);
  }

  .who-is-item .first,
  .who-is-item .second {
    font-size: 3.7vw;
    line-height: 3.7vw;
  }

  .who-is-item svg {
    fill: rgba(0, 0, 0, 1);
    width: 11.7vw;
    height: 11.7vw;
  }

  .who-item-icon-block {
    align-items: center;
    margin-bottom: 4vw;
  }

  .who-is-item h4 {
    font-size: 11.5vw;
    line-height: 11.5vw;
    margin-bottom: 8.5vw;
  }

  .who-is-item p {
    font-size: 3.7vw;
    line-height: 5.3vw;
    width: 100% !important;
  }

  .who-is-main-block .who-is-item-number {
    margin-bottom: 8.2vw;
    margin-top: 3vw;
  }

  .who-is-item.full {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    gap: 7vw;
  }

  .who-is-item.full img {
    width: 65.6vw;
  }

  .who-is-item.full p {
    color: rgba(255, 255, 255, 1);
  }

  /* ====================== KIT SECTION ========================= */

  .kit-section {
    padding-top: 95vw;
  }

  .kit-bg {
    width: 100%;
  }

  .kit-squares {
    width: 100%;
  }

  .kit-marker-container p {
    font-size: 3.2vw;
    line-height: 6.1vw;
    padding: 2.1vw 3.2vw;
    border-radius: 26.6vw;
  }

  .kit-marker-container {
    margin-bottom: 2.1vw;
  }

  .kit-title-wrapper .title {
    width: auto;
  }

  .kit-title-wrapper {
    border-radius: 2.8vw;
    padding: 5.3vw;
    margin-bottom: 8.2vw;
  }

  .kit-list .kit-number {
    font-size: 3.2vw;
    line-height: 6.4vw;
    padding: 0.3vw 2.9vw;
    border: 0.05vw solid black;
  }

  .kit-list .kit-text {
    font-size: 4vw;
    line-height: 4.8vw;
  }

  .kit-list ul li {
    gap: 4.2vw;
  }

  .kit-list ul {
    padding-left: 5.3vw;
    width: auto;
  }

  .kit-list ul li:not(:last-child) {
    margin-bottom: 3.2vw;
  }
}
