@import url(./reset.css);
@import url(../fonts/Druk-cyr/stylesheet.css);
@import url(../fonts/Mona-Sans/stylesheet.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

.title {
  font-family: 'Druk Cyr';
  font-size: 6.9vw;
  font-weight: 700;
  line-height: 6.8vw;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

/* ============================== HEADER =====================*/
header {
  position: relative;
}

header .container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 9;
  padding-top: 2vw;
}

header .container.header-wrapper {
  position: relative;
  padding: 0;
}

.header-logo {
  width: 3.4vw;
  height: 4.01vw;
}

.header-menu-btn {
  display: flex;
  align-items: center;
  gap: 0.9vw;
  cursor: pointer;
}

.header-menu-btn > span {
  font-family: 'Druk Cyr';
  font-size: 2.4vw;
  font-weight: 700;
  line-height: 2.2vw;
}

.menu-icon-dots {
  position: relative;
  width: 2vw;
  height: 2vw;
}

.menu-icon-dots span {
  background-color: rgba(0, 208, 210, 1);
  border-radius: 100%;
  width: 0.6vw;
  height: 0.6vw;
}

.menu-icon-dots span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-icon-dots span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.menu-icon-dots span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.menu-icon-dots span:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* MENU_OVERLAY-==================================================== */

.menu-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 208, 210, 1);
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
  padding: 2.3vw 3.6vw 4.6vw 3.6vw;
  display: flex;
  gap: 8.2vw;
}

.menu-overlay.active {
  transform: translateY(0);
}

.menu-nav-container {
  display: flex;
  gap: 6.8vw;
  flex-shrink: 0;
}

.menu-navigation span {
  display: block;
  font-family: 'Mona-Sans';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.9vw;
  margin-top: 1.5vw;

  margin-bottom: 3.4vw;
  color: rgba(255, 255, 255, 1);
}

.menu-navigation ul li a {
  position: relative;
  font-family: 'Mona-Sans';
  font-weight: 700;
  font-size: 2.8vw;
  transition: 1s;
  line-height: 3.6vw;
  text-transform: uppercase;
}

.menu-navigation ul li a::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  min-height: 0.1vw;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.menu-navigation ul li a:hover::after {
  opacity: 1;
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 7vw);
}

.close-overlay {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 1.5vw;
  cursor: pointer;
  justify-content: end;
}

.close-overlay span {
  font-family: 'Mona-Sans';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 0;
  letter-spacing: -0.03em;
  text-align: left;

  color: rgba(255, 255, 255, 1);
}

.close-overlay svg {
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  fill: white;
}

.right-menu-container {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.right-menu-container h2 {
  font-family: 'Druk Cyr';
  font-size: 10.3vw;
  font-weight: 700;
  line-height: 10.3vw;
  text-transform: uppercase;
  margin-bottom: 4.5vw;
}

.right-menu-container .join-link {
}

.right-menu-container .join-link-arrow {
  background-color: rgba(0, 0, 0, 1);
}

.right-menu-container .arrow-icon {
  fill: white;
}

.right-menu-container .app {
  font-size: 1.3vw;
}

.menu-address-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 3.1vw;
}

.menu-address-container a {
  font-family: 'Mona-Sans';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.9vw;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.menu-address-container p {
  text-align: end;
  font-family: 'Mona-Sans';
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 1.2vw;
  color: rgba(255, 255, 255, 1);
}

/* ============================== HERO-SECTION======================= */

.hero-section {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.01) 60%,
      #000000 100%
    ),
    /* Градієнт */ url('../img/hero/hero-section-bg.jpg'); /* Фонове зображення */
  background-size: 100% 100%; /* Зображення покриває весь блок */
  background-repeat: no-repeat; /* Фон не повторюється */
  padding-bottom: 6.25vw;
  padding-top: 11vw;
  animation: backgroundZoomOut 3s ease-in-out forwards; /* Анімація зум-ауту */
}

@keyframes backgroundZoomOut {
  0% {
    background-size: 120%; /* Початкова точка - великий фон */
  }
  100% {
    background-size: 100%; /* Кінцева точка - нормальний розмір */
  }
}

.just-a-month-block {
  display: flex;
  align-items: center;
  margin-bottom: 2.7vw;
}

.hero-title-block {
  margin-bottom: 6.7vw;
}

.hero-title-block p {
  font-family: 'Druk Cyr';
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 3.4vw;
  text-transform: uppercase;
  margin-bottom: 0.6vw;
}

.hero-title-block h1 {
  font-family: 'Druk Cyr';
  font-size: 11.5vw;
  font-weight: 700;
  line-height: 11.4vw;
  text-transform: uppercase;
  margin-bottom: 2.1vw;
}

.just-a-month-block p {
  font-family: 'Mona-sans';
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1vw;
  text-align: center;
  width: 13vw;
}

.just-a-month-block svg {
  width: 5vw;
}

.join-link {
  display: flex;
  gap: 0.2vw;
  cursor: pointer;
  width: fit-content;
}

.app {
  position: relative;
  font-family: 'Mona-sans';
  font-size: 1.1vw;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 0.05vw solid transparent; /* Ширина рамки */
  border-image-source: radial-gradient(
    57.98% 57.28% at 52.9% 39.1%,
    rgba(0, 0, 0, 0.2) 80%,
    /* Залишається прозорим до 80% */ rgba(21, 21, 21, 0.5) 100%
      /* Різка зміна на 100% */
  );
  border-image-slice: 1; /* Розріз градієнта для рамки */
  text-align: center;
}

.app::before,
.app::after,
.app .corner-top-right,
.app .corner-bottom-left {
  content: '';
  position: absolute;
  border: 0.09vw solid black;
  width: 0.91vw;
  width: 0.91vw;
  height: 0.91vw;
  transition: 0.5s;
}

.app::before {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
}

.app::after {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
}

.app .corner-top-right {
  top: -1px;
  right: -1px;
  border-left: none;
  border-bottom: none;
}

.app .corner-bottom-left {
  bottom: -1px;
  left: -1px;
  border-right: none;
  border-top: none;
}
.join-link-arrow {
  background-color: rgba(0, 208, 210, 1);
  width: 5.4vw;
  height: 5.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: 0.5s;
}

.arrow-icon {
  fill: rgba(0, 0, 0, 1);
  width: 0.9vw;
  height: 1vw;
  transition: 0.5s;
}

.who-is-title {
  margin-bottom: 2.1vw;
}

.who-is-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.who-is-list {
  display: flex;
  flex-wrap: wrap;
}

.who-is-item {
  transition: 0.5s;
  padding: 1.4vw 1.7vw;
  border-radius: 1.1vw;
  outline: 2px solid rgba(255, 255, 255, 1);
  outline-offset: -1px;
}

.who-is-list .who-is-item {
  flex-basis: calc(100% / 3);
  height: 50%;
}

.who-is-item.full {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.3vw;
}

.who-is-item.full svg {
  transition: 0.5s;
  width: 22vw;
  fill: rgba(255, 255, 255, 1);
}

.who-is-item.full p {
  width: 13vw;
  text-align: center;
}

.who-is-main-block .who-is-item {
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.who-is-item-number span {
  font-family: 'Mona-sans';
  font-size: 0.7vw;
  line-height: 0.7vw;
  font-weight: 700;
}

.who-is-item h4 {
  transition: 0.5s;
  font-family: 'Druk Cyr';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.2vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.6vw;
}

.who-is-main-block .who-is-item p {
  width: 12vw;
}

.who-is-item p {
  transition: 0.5s;
  font-family: 'Mona-sans';
  font-size: 0.7vw;
  font-weight: 600;
  line-height: 1vw;
  color: rgba(255, 255, 255, 1);
}

.who-is-main-block .who-is-item p {
  color: rgba(0, 0, 0, 1);
}

.who-is-main-block .who-is-item-number {
  margin-bottom: 2.2vw;
}

.who-is-main-block .who-is-item h4 {
  color: rgba(0, 0, 0, 1);
}

.who-is-main-block svg {
  transition: 0.5s;
  width: 11vw;
  height: 11vw;
  margin-top: 1.4vw;
}

.who-item-icon-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2vw;
}

.who-item-icon-block svg {
  transition: 0.5s;
  fill: white;
  width: 3.2vw;
  height: 3.2vw;
}

.who-is-item-number .first {
  color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}
.who-is-item-number .second {
  color: rgba(255, 255, 255, 0.33);
  transition: 0.5s;
}

.who-is-main-block .who-is-item-number .first {
  color: rgba(0, 0, 0, 1);
}
.who-is-main-block .who-is-item-number .second {
  color: rgba(0, 0, 0, 0.33);
}

.who-is-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.who-is-item:hover p,
.who-is-item:hover h4 {
  color: rgba(0, 0, 0, 1);
}

.who-is-item:hover svg {
  fill: rgba(0, 0, 0, 1);
}

.who-is-item:hover .first {
  color: rgba(0, 0, 0, 1);
}
.who-is-item:hover .second {
  color: rgba(0, 0, 0, 0.33);
}



/*===================== KIT SECTION =============================== */

.kit-section {
  position: relative;
  padding: 3.6vw 0;
}

.kit-marker-container {
  display: flex;
  margin-bottom: 0.8vw;
}

.kit-title-wrapper {
  border-radius: 1.1vw;
  background-color: rgba(255, 255, 255, 1);
  padding: 2vw;
  margin-bottom: 1.6vw;
  width: fit-content;
}

.kit-marker-container p {
  font-family: 'Mona-Sans';
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 1.1vw;
  text-transform: uppercase;
  padding: 0.5vw 1vw;
  border-radius: 5.2vw;
  background-color: rgba(0, 208, 210, 1);
}

.kit-title-wrapper .title {
  width: 25vw;
}

.kit-list ul {
  padding-left: 2vw;
  width: 25vw;
}

.kit-list ul li {
  display: flex;
  gap: 0.8vw;
  align-items: center;
}

.kit-list ul li:not(:last-child) {
  margin-bottom: 1vw;
}

.kit-list .kit-number {
  font-family: 'Mona-Sans';
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.2vw;
  border: 0.05vw solid black;
  border-radius: 100%;
  width: 2.2vw;
  height: 2.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kit-list .kit-text {
  font-family: 'Mona-Sans';
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.4vw;
}

.kit-bg {
  width: 63vw;
}

.kit-squares {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  animation: levitate 4s ease-in-out infinite;
  right: 2.9vw;
  width: 63vw;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(-50%) translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(-60%) translateX(10px) rotate(5deg); /* Підйом та поворот */
  }
}

.kit-paralax-container {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  overflow: hidden;
}

/* ============================ LEARN SECTION ================================= */

.learn-section {
  position: relative;
  background-image: url(../img/learn/learn-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.4vw 0 10.9vw 0;
}

.learn-section .title {
  position: sticky;
  top: 0;
  width: 25vw;
  margin-bottom: 9.2vw;
  z-index: 1;
}

.learn-list {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.learn-item {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21vw;
  height: 21vw;
  padding: 1.6vw;
}

.learn-list .column:nth-child(1) .learn-item:nth-child(even) {
  transform: translateX(100%);
}

.learn-list .column:nth-child(2) .learn-item:nth-child(even) {
  transform: translateX(-100%);
}

.learn-list .column:nth-child(2) {
  position: absolute;
  top: -21vw;
  right: 0;
}

.learn-item svg {
  width: 3.75vw;
  height: 3.75vw;
}

.learn-item h4 {
  font-family: 'Mona-Sans';
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 2vw;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 0.6vw;
}

.learn-item p {
  font-family: 'Mona-Sans';
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.4vw;
  color: rgba(0, 0, 0, 1);
}

/* ======================== JOURNEY_SECTION -================================== */

.journey-section {
  padding: 11.4vw 0;
}

.journey-section .container {
}

.journey-title-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: flex-end;
  margin-bottom: 7vw;
}

.journey-info {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

.journey-section .title {
  width: 25vw;
}

.journey-table-container {
  width: 45vw;
  border-right: 0.05vw solid rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.journey-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 2.6vw 0 1vw 0;
  cursor: pointer;
}

.journey-item:not(:last-child) {
  border-bottom: 0.05vw solid rgba(0, 0, 0, 0.2);
}

.journey-item .journey-item-number-marker,
.journey-item .journey-item-text {
  opacity: 0.2;
  transition: 0.3s;
}

.journey-item.active .journey-item-number-marker,
.journey-item.active .journey-item-text {
  opacity: 1;
}

.journey-item-number-marker {
  display: flex;
}

.journey-item-number-marker div {
  font-family: 'Mona-Sans';
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-transform: uppercase;
  padding: 0.5vw 1vw;
  border-radius: 5.2vw;
  border: 0.05vw solid black;
}

.journey-item-text {
  font-family: 'Mona-Sans';
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 1.7vw;
}

.journey-info-container {
  height: min-content;
  position: sticky;
  top: 5vh;
}

.journey-info-title-block h3 {
  font-family: 'Mona-Sans';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.2vw;
  margin-bottom: 1vw;
}

.journey-info-title-block p {
  font-family: 'Mona-Sans';
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.7vw;
  max-width: 32vw;
}

.journey-img-block {
  display: flex;
  margin-bottom: 3.6vw;
}

.journey-img-block div {
  width: 12.3vw;
  margin-right: -4.5vw;
}

.journey-teachers-name {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-bottom: 1.4vw;
}

.journey-teachers-name img {
  width: 4vw;
}

.journey-desc-block {
  margin-bottom: 4.5vw;
}

.journey-desc-block p {
  font-family: 'Mona-Sans';
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.7vw;
  max-width: 32vw;
}

.journey-info-container {
  display: none; /* Спочатку приховані */
}

.journey-info-container.active {
  display: block; /* Показуємо активний блок */
}

.journey-item.active {
  font-weight: bold;
  color: #000; /* Стиль для активного елемента */
}

.journey-teachers-name p {
  font-family: 'Mona-Sans';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.2vw;
  color: rgba(0, 0, 0, 1);
}

/* BEST SECTION ================================ */

.best-section {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  padding: 4.6vw 0 6vw 0;
  overflow: hidden;
}

.best-section::before,
.best-section::after {
  content: '';
  position: absolute;
  width: 35.5vw; /* Розмір блоку для блюру */
  height: 35.5vw; /* Розмір блоку для блюру */
  background-color: rgba(0, 208, 210, 1); /* Суцільний колір з прозорістю */
  filter: blur(10vw); /* Ефект блюру для плями */
}

.best-section::before {
  top: -12vw; /* Відступ для позиціонування в верхньому лівому куті */
  left: -12vw;
}

.best-section::after {
  bottom: -12vw; /* Відступ для позиціонування в нижньому правому куті */
  right: -12vw;
}

.smiles-icon {
  width: 18vw;
  margin: 0 auto;
  margin-bottom: 3.6vw;
}

.best-bg-wrap {
  position: relative;
  width: 55vw;
  border: 0.05vw solid rgba(255, 255, 255, 1);
  margin: 0 auto;
  margin-bottom: 5vw;
}

.best-bg-wrap h2 {
  position: absolute;
  font-family: 'Druk Cyr';
  font-size: 14.5vw;
  font-weight: 700;
  line-height: 14.5vw;
  bottom: 9.1vw;
  left: -14vw;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
}

.best-desc-text {
  font-family: 'Mona-Sans';
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.4vw;
  color: rgba(255, 255, 255, 1);
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5.2vw;
}

.best-link-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.best-link-container img {
  width: 15.3vw;
  z-index: 1;
}

.best-link-container .app {
  border: 1px solid #1a1a1a;
  color: rgba(0, 208, 210, 1);
}

.best-link-container .app::before,
.best-link-container .app::after,
.best-link-container .app .corner-top-right,
.best-link-container .app .corner-bottom-left {
  content: '';
  position: absolute;
  border: 0.06vw solid rgba(0, 208, 210, 1);
  width: 0.91vw;
  width: 0.91vw;
  height: 0.91vw;
}

.best-link-container .app::before {
  border-right: none;
  border-bottom: none;
}

.best-link-container .app::after {
  border-left: none;
  border-top: none;
}

.best-link-container .app .corner-top-right {
  border-left: none;
  border-bottom: none;
}

.best-link-container .app .corner-bottom-left {
  border-right: none;
  border-top: none;
}

/*================= TARIFF_SECTION =================================== */

.tariff-section {
  padding: 11.4vw 0;
}

.tariff-section .title {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 4.3vw;
}

.tariff-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.7vw;
}

.tariff-item {
  padding: 3vw 1.4vw;
  background-color: rgba(255, 255, 255, 1);
}

.tariff-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.1vw;
  padding: 0 1.6vw 0 0.9vw;
}

.tariff-title-container h3 {
  font-family: 'Mona-Sans';
  font-size: 2.8vw;
  font-weight: 700;
  line-height: 3.6vw;
}

.tariff-title-container svg {
  width: 4.3vw;
  height: 4.3vw;
}

.tariff-info-title-container {
  display: flex;
  align-items: center;
  gap: 0.6vw;
  margin-bottom: 0.7vw;
}

.tariff-info-title-container svg {
  min-width: 1vw;
  min-height: 1vw;
  max-width: 1vw;
  max-height: 1vw;
}

.tariff-info-title-container h5 {
  font-family: 'Mona-Sans';
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 1.2vw;
  white-space: nowrap;
}

.tariff-info-item:not(:last-child) {
  margin-bottom: 2.2vw;
}

.tariff-info-item p {
  font-family: 'Mona-Sans';
  font-size: 1vw;
  font-weight: 400;
  line-height: 1vw;
  color: rgba(0, 0, 0, 0.7);
}

.tariff-info-list {
  margin-bottom: 2.6vw;
  padding-left: 1.1vw;
  width: 22vw;
}

.tariff-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.7vw;
}

.tariff-price-container .current {
  font-family: 'Inter';
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 5.8vw;
}

.tariff-price-container .old {
  font-family: 'Inter';
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.9vw;
  text-decoration: line-through;
  opacity: 0.4;
}

.tariff-item .join-link {
  width: 100%;
}

.tariff-item .app {
  width: 100%;
}

.tariff-item .join-link-arrow {
  flex-shrink: 0;
}

.tariff-btn-container {
  margin-bottom: 2.1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.tariff-btn-container .join-link:not(:last-child) {
  /* margin-bottom: 1vw; */
}

.tariff-bottom-marker {
  display: flex;
  justify-content: space-between;
}

.tariff-bottom-marker span {
  font-family: 'Mona-Sans';
  font-size: 0.8vw;
  font-weight: 300;
  line-height: 1.1vw;
}

.tariff-item .app {
  font-size: 1.3vw;
  white-space: nowrap;
  padding: 0;
}

.tariff-item.quantum {
  border: 0.05vw solid rgba(0, 0, 0, 0.22);
}

.tariff-item.quantum .tariff-title-container svg {
  fill: rgba(0, 208, 210, 1);
}

/* HYPER */
.tariff-item.hyper {
  background-color: rgba(0, 208, 210, 1);
}

.tariff-item.hyper .join-link-arrow {
  background-color: rgba(0, 0, 0, 1);
}

.tariff-item.hyper .arrow-icon {
  fill: white;
}

/* BLAST======= */

.tariff-item.blast {
  background-color: rgba(0, 0, 0, 1);
}

.tariff-item.blast p,
.tariff-item.blast h5,
.tariff-item.blast h3,
.tariff-item.blast span {
  color: rgba(255, 255, 255, 1);
}

.tariff-item.blast svg {
  fill: rgba(255, 255, 255, 1);
}

.tariff-item.blast .app {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.tariff-item.blast .app::before,
.tariff-item.blast .app::after,
.tariff-item.blast .app .corner-top-right,
.tariff-item.blast .app .corner-bottom-left {
  border: 0.06vw solid rgba(0, 208, 210, 1);
}

.tariff-item.blast .app::before {
  border-right: none;
  border-bottom: none;
  top: 0;
  left: 0;
}

.tariff-item.blast .app::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.tariff-item.blast .app .corner-top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.tariff-item.blast .app .corner-bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.tariff-info-item.not-available {
  opacity: 0.25;
}

/* OUR TEAM SECTION ================================== */

.our-team-section {
  background-color: rgba(0, 208, 210, 1);
  background-image: url(../img/our-team/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 5.4vw 0;
}

.our-team-info-container {
  width: 50vw;
}

.our-team-hexagone {
  display: block;
  width: 4.9vw;
  height: 4.9vw;
  margin: 0 auto;
  margin-bottom: 5.2vw;
}

.our-team-section .title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2.2vw;
}

.our-team-desc {
  font-family: 'Druk Cyr';
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 3.8vw;
  text-align: center;
  text-transform: uppercase;
  width: 42vw;
  margin: 0 auto;
  margin-bottom: 2.2vw;
}

.our-team-text {
  font-family: 'Mona-Sans';
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.6vw;
  width: 35vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5.2vw;
}

.our-team-rules {
  display: block;
  width: 11vw;
  height: 3.1vw;
  margin: 0 auto;
}

/* ABOUT SECTION ========================== */

.about-section {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  padding: 3.5vw;
  padding-bottom: 2vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 0;
}

.about-section p,
.about-section span,
.about-section h3 {
  position: relative;
  z-index: 9;
  color: rgba(255, 255, 255, 1);
}

.about-person-info {
  display: flex;
  align-items: center;
}

.about-person-name-container {
  display: flex;
  gap: 15vw;
  align-items: center;
  margin-bottom: 9.6vw;
}

.about-person-number-container p {
  width: 5vw;
  font-family: 'Mona-Sans';
  font-size: 0.7vw;
  font-weight: 500;
  line-height: 0.7vw;
  margin-bottom: 0.6vw;
}

.about-person-number-container span {
  font-family: 'Mona-Sans';
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.6vw;
}

.person-name {
  position: relative;
  font-family: 'Mona-Sans';
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
}

.person-name::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 3.5vw;
  height: 0.05vw;
  transform: rotate(45deg);
}

.marker {
  font-family: 'Mona-Sans';
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 0.8vw;
  text-transform: uppercase;
}

.person-name-container .marker {
  margin-top: -1vw;
}

.person-name-container {
  display: flex;
  gap: 3vw;
}

.about-person-desc-container h3 {
  font-family: 'Mona-Sans';
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
  text-transform: uppercase;
  margin-bottom: 0.7vw;
}

.about-person-desc-container p {
  font-family: 'Mona-Sans';
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.1vw;
  width: 34vw;
}

.person-hologram-container {
  width: 30vw;
  margin-left: -5vw;
  margin-right: -8vw;
}

.tattoo-style-container {
  display: flex;
}

.tatto-style {
  position: relative;
  display: flex;
  font-family: 'Mona-Sans';
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
  width: 21vw;
  text-align: end;
  text-transform: uppercase;
}

.tatto-style::before {
  position: absolute;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 1);
  width: 3.5vw;
  height: 0.05vw;
  transform: rotate(-45deg);
}

.tattoo-style-container .marker {
  margin-top: -1vw;
}

.tattoo-style-container:not(:last-child) {
  margin-bottom: 6vw;
  margin-left: 3vw;
}

.tattoo-style-container.experience .tatto-style {
  display: block;
  width: 15vw;
}

.about-section .vector2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.about-section .vector1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63.3vw;
  z-index: 9;
}

.about-swiper-container {
  overflow: hidden;
  width: 100%;
  /* height: 35vw; */
}

.about-swiper-container .swiper-navigation {
  position: absolute;
  bottom: 3.9vw;
  left: 3.6vw;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.8vw;
  z-index: 99;
}

.about-swiper-container .swiper-navigation .swiper-prev,
.about-swiper-container .swiper-navigation .swiper-next {
  background-color: rgba(0, 208, 210, 1);
  width: 3.3vw;
  height: 3.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.about-swiper-container .swiper-navigation .swiper-prev svg,
.about-swiper-container .swiper-navigation .swiper-next svg {
  width: 1vw;
  height: 1vw;
  stroke: rgba(0, 0, 0, 1);
}

.about-swiper-container .swiper-pagination-horizontal {
  height: fit-content;
  display: flex;
  align-items: center;
}

.about-swiper-container .pagination .swiper-pagination-bullet {
  width: 3.3vw;
  height: 0.15vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
  opacity: 1;
  margin: 0 !important;
  transition: 0.3s;
}

.about-swiper-container .pagination .swiper-pagination-bullet-active {
  width: 3.3vw;
  height: 0.3vw;
  background-color: rgba(0, 208, 210, 1);
  border-radius: 0;
}

.custom-pagination {
  position: absolute;
  bottom: 3.9vw;
  right: 3.6vw;
  z-index: 100;
}

.custom-pagination .pagination-bullet {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: 'Mona-Sans';
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.3vw;
  color: rgba(255, 255, 255, 1);
  text-align: end;
  cursor: pointer;
}

.custom-pagination .pagination-bullet.active {
  color: rgba(0, 208, 210, 1);
}

.custom-pagination .pagination-bullet:not(:last-child)::after {
  content: '';
  display: block;
  width: 0.05vw;
  height: 1.6vw;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 0.3vw;
  margin-bottom: 0.3vw;
  margin-top: 0.3vw;
}

/* =========================== EX_STUDENT_SECTION ================================ */

.ex-student-section {
  padding: 11.5vw 0;
}

.ex-student-section .container {
  display: flex;
  gap: 15vw;
}

.ex-student-title-container .title {
  width: 30vw;
  margin-bottom: 5.6vw;
}

.ex-student-card {
  position: relative;
  background-color: rgba(0, 208, 210, 1);
  padding: 10.7vw 3.3vw 3.3vw 3.3vw;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.student-person-info {
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.student-person-info img {
  width: 5.3vw;
}

.student-person-info p {
  font-family: 'Mona-Sans';
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.9vw;
  color: rgba(255, 255, 255, 1);
}

.student-card-desc {
  font-family: 'Mona-Sans';
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.4vw;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1.2vw;
  width: 23vw;
}

.student-desc-container .add-desc {
  font-family: 'Mona-Sans';
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.2vw;
  width: 15vw;
  color: rgba(255, 255, 255, 1);
}

.ex-student-swiper-container {
  position: relative;
  overflow: hidden;
  background-image: url(../img/ex-student/ex-student-swiper-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 0.9vw;
  /* width: 37vw; */
}

.ex-student-swiper-container .swiper-slide {
  width: 31vw !important;
  height: 36vw !important;
}

.quotes {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 16.4vw;
  z-index: -1;
}

.ex-student-swiper-container .swiper-btn-prev {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  width: 3.3vw;
  height: 3.3vw;
  left: 0;
  top: 50%;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  cursor: pointer;
}

.ex-student-swiper-container .swiper-btn-prev svg {
  stroke: rgba(0, 208, 210, 1);
  width: 1vw;
  height: 1vw;
}
.ex-student-swiper-container .swiper-btn-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  width: 3.3vw;
  height: 3.3vw;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  cursor: pointer;
}
.ex-student-swiper-container .swiper-btn-next svg {
  stroke: rgba(0, 208, 210, 1);
  width: 1vw;
  height: 1vw;
}

/* ==================== FAQ_SECTION ================================ */

.faq-section {
  padding-bottom: 11.4vw;
}

.faq-section .container {
  display: flex;
  justify-content: space-between;
}

.faq-container {
  width: 62.5vw;
}

.faq-item {
  padding: 2.3vw 0;
  border-top: 0.06vw solid rgba(65, 65, 65, 1);
}

.faq-item .faq-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-item p {
  font-family: 'Mona-Sans';
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.6vw;
}

.faq-item .faq-img img {
  width: 1.8vw;
}

.faq-item .faq-img {
  border: 0.06vw solid rgba(65, 65, 65, 1);
  border-radius: 100%;
  width: 4.2vw;
  height: 4.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.faq-item:hover .faq-img {
  border: 0.06vw solid rgba(65, 65, 65, 0);
}

.faq-acardeon-js {
  /* position: absolute; */
  width: auto;
}

.faq-acardeon-js p {
  width: auto;
}

.faq-acardeon-js {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-acardeon-js {
}

.faq-title-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.faq-img img {
  transition: transform 0.3s ease;
}

.faq-item.active .faq-img img {
  transform: rotate(180deg);
}

/* FOOTER =============================== */

footer {
  background-color: rgba(0, 208, 210, 1);
  padding: 6.25vw 0 3.6vw 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  align-items: end;
}

.grid-container.links {
  margin-bottom: 5.2vw;
}

.grid-container.address {
  margin-bottom: 6.25vw;
}

.link-container p {
  font-family: 'Mona-Sans';
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.5vw;
  margin-bottom: 1.4vw;
  color: rgba(255, 255, 255, 1);
}

.link-container a {
  font-family: 'Mona-Sans';
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 3.4vw;
  color: rgba(255, 255, 255, 1);
}

.underline {
  position: relative;
}

.underline:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 0.2vw;
  transform: translateY(100%);
}

.address-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.3vw;
  width: 40vw;
}

.addres-item {
  flex-basis: calc((100% - 5.6vw) / 2);
}

.addres-item span {
  display: block;
  font-family: 'Mona-Sans';
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.3vw;
  margin-bottom: 0.4vw;
  color: rgba(255, 255, 255, 1);
}

.addres-item p,
.addres-item a {
  display: block;
  font-family: 'Mona-Sans';
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.2vw;
  color: rgba(255, 255, 255, 1);
}

footer .join-link-arrow {
  background-color: black;
}

footer .arrow-icon {
  fill: white;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-bottom-container div {
  font-family: 'Mona-Sans';
  font-size: 14.7vw;
  font-weight: 700;
  line-height: 14.7vw;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom-container p {
  font-family: 'Mona-Sans';
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.2vw;
  text-align: end;
  color: rgba(255, 255, 255, 1);
}

/* 404 PAGE ========================================= */

.error-page .best-section {
  padding: 9.1vw 0 10.4vw 0;
  /* height: 100vh; */
}

.error-page .header-logo {
  fill: rgba(255, 255, 255, 1);
}

.error-page .header-menu-btn > span {
  color: rgba(255, 255, 255, 1);
}

.error-wrapper span {
  font-family: 'Druk Cyr';
  font-size: 27vw;
  font-weight: 700;
  line-height: 27vw;
  color: rgba(255, 255, 255, 1);
}

.error-wrapper img {
  width: 33.4vw;
}

.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2vw;
  margin-bottom: 2.2vw;
}

.error-text {
  font-family: 'Mona-Sans';
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 2.1vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2.2vw;
}

.error-page .error-container .join-link {
  justify-content: center;
}

.error-page .error-container .app {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.error-page .arrow-icon {
  fill: rgba(255, 255, 255, 1);
}

.error-page .error-container .app::before,
.error-page .error-container .app::after,
.error-page .error-container .app .corner-top-right,
.error-page .error-container .app .corner-bottom-left {
  border: 0.06vw solid rgba(0, 208, 210, 1);
}

.error-page .error-container .app::before {
  border-right: none;
  border-bottom: none;
  top: 0;
  left: 0;
}

.error-page .error-container .app::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.error-page .error-container .app .corner-top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.error-page .error-container .app .corner-bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

/* THANKS_PAGE ============================= */

.thanks-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.thanks-container img {
  width: 35.8vw;
}

.thanks-container h1 {
  font-family: 'Druk Cyr';
  font-size: 16.2vw;
  font-weight: 700;
  line-height: 16.2vw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 1.8vw;
}

.error-page .thanks-container .join-link {
  justify-content: start;
}

.error-page .thanks-container .error-text {
  text-align: left;
  width: 34vw;
}

.error-page .thanks-container,
.error-page .error-container {
  position: relative;
  z-index: 99;
}

/* POPUP ======================================== */

/* Стилі для фону попапу */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Напівпрозорий фон */
  opacity: 0; /* Спочатку прозорий */
  visibility: hidden; /* Прихований до активації */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Додаємо плавність */
}

/* Стилі для вмісту попапу */
.popup-content {
  background-image: url(../img/popup-rect.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1vw 2.2vw 1.5vw 1.6vw;
  border-radius: 8px;
  min-width: 26vw;
  position: relative;
  transform: scale(0.7); /* Початкова анімація стиснення */
  transition: transform 0.3s ease; /* Плавність для розгортання */
}

/* Показуємо попап */
.popup-overlay.active {
  opacity: 1; /* Показуємо попап */
  visibility: visible;
}

.popup-overlay.active .popup-content {
  transform: scale(1); /* Розгортаємо контент */
}

/* Стиль для кнопки закриття */
.popup-close {
  position: absolute;
  top: 0;
  right: 1.4vw;
  font-size: 2vw;
  line-height: 1vw;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.popup-title-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 2.5vw;
}

.popup-title-container p {
  font-family: 'Mona-Sans';
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1.8vw;
}

.popup-title-container svg {
  width: 2.8vw;
  height: 2.8vw;
}

.popup-close:hover {
  color: rgba(0, 208, 210, 1);

  transform: rotate(180deg);
}

.popup-content label {
  display: block;
  font-family: 'Mona-Sans';
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  cursor: pointer;
}

.popup-content input {
  border: none;
  border-bottom: 0.05vw solid #000;
  width: 100%;
  padding-bottom: 0.3vw;
  font-family: 'Mona-Sans';
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  text-align: left;
}

.form-input-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.form-input-container label {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: 0.3s ease;
}

.form-input-container input.filled + label,
.form-input-container input:focus + label {
  transform: translateY(-200%);
  color: rgba(0, 208, 210, 1);
}

.form-input-container input:focus {
}

.popup-content .form-container .form-input-container:not(:last-child) {
  margin-bottom: 2.7vw;
}

.popup-content .form-container {
  margin-bottom: 2vw;
}

.popup-content .app {
  width: 100%;
}

.popup-content .join-link {
  width: 100%;
}

.popup-bottom-text {
  font-family: 'Mona-Sans';
  font-size: 0.6vw;
  font-weight: 500;
  line-height: 0.9vw;
  max-width: 12vw;
  margin-top: 2.1vw;
}

.popup-bottom-text p {
  opacity: 0.5;
  display: inline;
}

.popup-bottom-text a {
  color: rgba(0, 208, 210, 1);
  text-decoration: underline;
}

.popup-content .arrow-icon {
  fill: rgba(255, 255, 255, 1);
}

.popup-content .popup-title-container svg {
  fill: #000;
}
